<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="ConnectionType" value="SQL"/>
    <!--if using Windows Authentication set value = "Windows" else set  "SQL" -->
    <add key ="DataSource" value="192.168.22.242"/>
    <add key="InitialCatalog" value="ems6_deg"/>
    <add key="SqlUserName" value="sa"/>
    <add key="SqlPassword" value="@^!!$!!!"/>
    <add key="StartTime" value="06:10"/>
    <add key="StartDate" value="Monday;Tuesday;Wednesday;Thursday;Friday;Saturday;Sunday"/>
    <add key="LOG_INTERVAL" value="5"/>
    <add key="LOG_FILE_PATH" value="C:\founder\temp\AutoDelete_Log"/>
    <add key="LOG_NO_ROTATE" value="5"/>
    <add key="LOG_MAX_FILE_SIZE" value="500"/>
    <add key="CURRENT_LOG_NO" value="1"/>
    <add key="LOG_TESTING_DATA" value="0"/>
    <add key="ErrorFileMovePath" value="C:\founder\temp\AutoDelete_Error\"/>
    <add key="ClearEmptyFolderPath" value="True,D:\Temp\testEmpty"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NO_OF_THREAD" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
