<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Reuters_with_Web_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DataSource" value="192.168.22.57" />
    <add key="InitialCatalog" value="metroFBS" />
    <!--<add key="InitialCatalog" value="newsroom_wwp" />-->
    <!--<add key="DataSource" value="C-WWP-EMS4" />
    <add key="InitialCatalog" value="newsroom" />-->
    <!--<add key="DataSource" value="fgt-dev" />-->
    <add key="Product_Name" value="" />
    <!--<add key="EMS_Version" value="EMS4.0" />-->
    <!--<add key="EMS_Version" value="EMS6.0EMS6.0 />-->
    <add key="EMS_Version" value="EMSFBS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SettingList" value="" />
    <add key="DB_Version" value="" />
    <add key="DBUserName" value="sa" />
    <!--<add key="DBPassword" value="sa" />-->
    <add key="DBPassword" value="@^!!$!!!" />
    <add key="IsWinAuth" value="0" />
    <add key="IsAutoLogin" value="1" />
    <add key="LOG_MAX_FILE_SIZE" value="50" />
    <add key="LOG_FILE_PATH" value="C:\founder\temp\Reuters_WS" />
    <add key="CURRENT_LOG_NO" value="1" />
    <add key="LOG_NO_ROTATE" value="5" />
    <add key="LoadAddInfo" value="0"/>
    <add key="Interval" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Reuters_with_Web_Service.Properties.Settings>
      <setting name="Reuters_with_Web_Service_com_reuters_rmb_RmdService" serializeAs="String">
        <value>http://rmb.reuters.com/rmd/soap</value>
      </setting>
    </Reuters_with_Web_Service.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <gcConcurrent enabled="false"/>
  </runtime>
</configuration>