<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
    <appSettings>
        <add key="DBConnectionString" value="Data Source=192.168.22.228; Initial Catalog=newsroom; Connection Lifetime=30; Max pool size = 200; User Id={0}; Password={1};" />
    </appSettings>
</configuration>